@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    flex-direction: column;
    margin-bottom: 3vh;
    position: relative;
}

.landing{
    height: 100vh;
    width: 100%;
    background-image: url(/images/covid_background.jpg);
    background-size: cover;
    margin-bottom: 10vh;
}